################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Exercise 1/.vs/config/applicationhost.config
