@using VideoApiWeb.Models
@using System.Security.Claims
@model IEnumerable<Claim>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/OfficeUIFabricLayout.cshtml";
}
<div class="ms-Grid">
    <div class="ms-Grid-row">
        <h2>Authentication succeeded!</h2>

        <table>
            <tr><th>Claim Type</th><th>Value</th></tr>
            @foreach (var claim in Model)
            {
                <tr><td>@claim.Type</td><td>@claim.Value</td></tr>
            }
        </table>
    </div>
</div>
